<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Light"
        tools:ignore="ForegroundServicePermission"
        tools:targetApi="31">
        <activity
            android:name=".main.Task13.LocationList"
            android:exported="false" />

        <service
            android:name=".main.Task13.LocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"></service>

        <activity
            android:name=".main.Task13.Location"
            android:exported="false" />
        <activity
            android:name=".main.Task12.AelrtDilogBox"
            android:exported="false" />
        <activity
            android:name=".main.Task11.getImages"
            android:exported="false"
            android:requestLegacyExternalStorage="true" />
        <activity
            android:name=".main.task10.Task10"
            android:exported="false" />
        <activity
            android:name=".main.Task9.Notification"
            android:exported="false" />
        <activity
            android:name=".main.Task8.RealTimeUsers"
            android:exported="false" />
        <!--
  <activity
            android:name=".main.Task8.userList"
            android:exported="false" />
        -->
        <activity
            android:name=".main.Task8.RealtimeDatabase"
            android:exported="false"
            android:theme="@style/Light" />
        <activity
            android:name=".main.Task7.CrashTest"
            android:exported="false" />
        <activity
            android:name=".main.Task6.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.Task5.Multilanguage"
            android:exported="false" />
        <activity
            android:name=".main.Task4.darkMode"
            android:exported="false" />

        <service
            android:name=".main.Task3.ForgroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".main.Task3.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".main.Task3.services"
            android:exported="false" />
        <activity
            android:name=".main.Task2.TabLaout"
            android:exported="false" />
        <activity
            android:name=".main.Task2.task_tow"
            android:exported="false" />
        <activity
            android:name=".main.Task_list"
            android:exported="false" />
        <activity
            android:name=".main.userList"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
    </application>

</manifest>